@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?lc7hzr');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?lc7hzr#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?lc7hzr') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?lc7hzr') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?lc7hzr##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="state-"], [class*=" state-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.state-johor {
  &:before {
    content: $state-johor; 
  }
}
.state-kedah {
  &:before {
    content: $state-kedah; 
  }
}
.state-kelantan {
  &:before {
    content: $state-kelantan; 
  }
}
.state-kuala-lumpur {
  &:before {
    content: $state-kuala-lumpur; 
  }
}
.state-labuan {
  &:before {
    content: $state-labuan; 
  }
}
.state-melaka {
  &:before {
    content: $state-melaka; 
  }
}
.state-negeri-sembilan {
  &:before {
    content: $state-negeri-sembilan; 
  }
}
.state-pahang {
  &:before {
    content: $state-pahang; 
  }
}
.state-perak {
  &:before {
    content: $state-perak; 
  }
}
.state-perlis {
  &:before {
    content: $state-perlis; 
  }
}
.state-pulau-pinang {
  &:before {
    content: $state-pulau-pinang; 
  }
}
.state-putrajaya {
  &:before {
    content: $state-putrajaya; 
  }
}
.state-sabah {
  &:before {
    content: $state-sabah; 
  }
}
.state-sarawak {
  &:before {
    content: $state-sarawak; 
  }
}
.state-selangor {
  &:before {
    content: $state-selangor; 
  }
}
.state-terengganu {
  &:before {
    content: $state-terengganu; 
  }
}

