$icomoon-font-family: "myy" !default;
$icomoon-font-path: "fonts" !default;

$state-johor: "\e900";
$state-kedah: "\e901";
$state-kelantan: "\e902";
$state-kuala-lumpur: "\e903";
$state-labuan: "\e904";
$state-melaka: "\e905";
$state-negeri-sembilan: "\e906";
$state-pahang: "\e907";
$state-perak: "\e908";
$state-perlis: "\e909";
$state-pulau-pinang: "\e90a";
$state-putrajaya: "\e90b";
$state-sabah: "\e90c";
$state-sarawak: "\e90d";
$state-selangor: "\e90e";
$state-terengganu: "\e90f";

